@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.app-background {
  background-image: url(./images/home.jpeg);
  background-color: #efefefc2;
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.page-background {
  width: 1440px;
  min-height: 100vh;
}

.link {
  color: black;
}

.link:hover {
  color: #628eac;
  text-decoration: none;
}

#no-match {
  margin-top: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-match .return-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#no-match .link {
  margin-left: 5px;
}
